$hover-bg-color: #e7f0fa;

.mainRow {
  display: flex;
  align-contents: center;
  justify-contents: space-between;
  color: #2B2B2B;
  cursor: pointer;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $hover-bg-color;
    opacity: 0;
    transition: opacity ease-out 150ms;
    z-index: 0;
  }

  & > * {
    position: relative;
  }

  &:hover, &:focus {
    &::before {
      opacity: 1;
    }
  }
}

.options {
  transition: max-height ease-in 300ms;
  max-height: 0;
  overflow: hidden;
  background-color: $hover-bg-color;
}

.name {
  flex-grow: 2;
}

.partySize {
  flex-shrink: 0;
  width: 80px;
  text-align: center;
}

.waiting, .quoted {
  width: 100px;
}

.status {
  flex-shrink: 0;
  width: 40px;
  text-align: center;
}

.note {
  padding-top: 5px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

.opened {
  .mainRow {
    &::before {
      opacity: 1;
    }
  }

  .options {
    max-height: 200px;
  }
}
