.container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.customer {
  padding: 2rem;
  max-width: 450px;
}

.form {
  margin-bottom: 1rem;
}

.twoColumn {
  display: flex;
}

.meta {
  flex-grow: 2;
}