.button {
  padding: 0.2rem 1rem;
  border: 1px solid #238AF8;
  border-radius: 5px;
  font-size: 16px;
  color: #238AF8;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #238AF8;
    border-radius: 3px;
    opacity: 0;
  }

  &[disabled] {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    &::before {
      opacity: 1;
    }
  }

  &.primary {
    min-width: 140px;
  }

  &.page-header {
    min-width: 140px;
    border-radius: 15px;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    border-color: #fff;
    color: #fff;
    border-width: 2px;

    &::before {
      border-radius: 12px;
      border-color: #fff;
    }
  }


  &.tertiary {
    border-color: #767676;
    color: #767676;

    &::before {
      border-color: #767676;
    }
  }

  &.icon {
    background-color: transparent;
    border-color: transparent;
    padding: 0;

    svg {
      fill: #888;
    }

    &:hover, &:focus {
      svg {
        fill: #3b7afd;
      }
    }

    &::before {
      border-color: transparent;
    }
  }
}