$hover-bg-color: #e7f0fa;

.rowButton {
  display: block;
  background: transparent;
  box-shadow: 0;
  border: 0;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  position: relative;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 1rem;

  &:hover, &:focus {
    outline: 0;
    color: #0056b3;
  }
}

.container {
  margin: 0 -1rem;
  padding: 0 1rem;

  &.opened {
    background-color: rgba(0,0,0,0.02);
    position: relative;

    &::before {
      content: "";
      top: -1px;
      left:0;
      right: 0;
      height: 1px;
      position: absolute;
      background-color: #F2F2F2;
    }

    .rowButton {
      border-bottom: 0;
    }
  }
}

.mainRow {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.partySize {
  width: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}
.name {
  width: 150px;
  font-weight: 400;
}
.tags {
  flex-shrink: 0;
  width: 200px;
}
.notes {
  margin-left: 40px;
  padding-left: 1rem;
  flex-grow: 2;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.waiting {
  width: 50px;
  flex-shrink: 0;
}

.description {
  padding-bottom: 1rem;
}

.info {
  display: flex;
  align-items: top;
  padding: 0 1rem;
}
.actions {

  flex-grow: 2;
}

.quoted {
  text-align: right;
}

.waiting {
  text-align: right;
}

.note, .tags {
}
.label {
  font-size: 11px;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
}
/*
.mainRow {
  display: flex;
  align-contents: center;
  justify-contents: space-between;
  color: #2B2B2B;
  cursor: pointer;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $hover-bg-color;
    opacity: 0;
    transition: opacity ease-out 150ms;
    z-index: 0;
  }

  & > * {
    position: relative;
  }

  &:hover, &:focus {
    &::before {
      opacity: 1;
    }
  }
}

.options {
  transition: max-height ease-in 300ms;
  max-height: 0;
  overflow: hidden;
  background-color: $hover-bg-color;
}

.name {
  flex-grow: 2;
}

.partySize {
  flex-shrink: 0;
  width: 80px;
  text-align: center;
}

.waiting, .quoted {
  width: 100px;
}

.status {
  flex-shrink: 0;
  width: 40px;
  text-align: center;
}

.note {
  padding-top: 5px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

.opened {
  .mainRow {
    &::before {
      opacity: 1;
    }
  }

  .options {
    max-height: 200px;
  }
}
*/