@import "../../utils.scss";

$hover-bg-color: #e7f0fa;


.rowButton {
  display: block;
  background: transparent;
  box-shadow: 0;
  border: 0;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  position: relative;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 1rem;

  &:hover, &:focus {
    outline: 0;
    color: #0056b3;
  }
}

.container {
  margin: 0 -1rem;
  padding: 0 1rem;
  min-height: 72px;

  &.opened {
    background-color: rgba(0,0,0,0.02);
    position: relative;

    &::before {
      content: "";
      top: -1px;
      left:0;
      right: 0;
      height: 1px;
      position: absolute;
      background-color: #F2F2F2;
    }

    .rowButton {
      border-bottom: 0;
    }

    .tags, .waiting, .quoted {
      display: none;
    }
  }
}

.mainRow {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0 1rem;

}

.partySize {
  width: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}
.name {
  width: 150px;
  font-weight: 400;
  flex-grow: 1;
}

.tags {
  flex-shrink: 0;
  width: 200px;
  flex-grow: 2;

  @include tablet {
    display: none;
  }
}

.notes {
  margin-left: 40px;
  padding-left: 1rem;
  flex-grow: 2;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.quoted {
  @include tablet {
    display: none;
  }
}

.waiting, .quoted {
  width: 70px;
  flex-shrink: 0;
  text-align: right;
}

.description {
  padding-bottom: 1rem;
  margin-left: calc(40px + 1rem);
}

.label {
  font-size: 11px;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
}
