.container {
}

.waitTimesList {
  display: flex;
  align-items: center;
}

.waitTimeItem {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  color: #444;
  padding: 0 1rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  $size: 12px;
  height: $size;
  width: $size;
  fill: #aaa;
}

.iconContainer {
  display: inline-block;
  margin-right: 10px;
}

.label {
  white-space: nowrap;
  font-size: 12px;
  color: rgba(0,0,0,0.6);
}