.container {
}

.primaryHeadline {
  font-size: 24px;
  margin: 0;
  font-weight: 200;
  color: #444;
  text-align: center;
  margin-bottom: 1.5rem;
}

.secondaryHeadline {
  font-size: 20px;
  font-weight: 200;
  color: #444;
  text-align: center;
}

.waitTimesList {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.waitTimeItem {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  color: #444;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  $size: 12px;
  height: $size;
  width: $size;
  fill: #aaa;
}

.iconContainer {
  display: inline-block;
  margin-right: 10px;
}


.stats {
  margin-top: 1rem;
}

.statsItem {
  margin-bottom: 0.25rem;
  font-size: 16px;
  text-align: center;
}

.statsLabel {
  color: #666;
}

.statsValue {
  color: #444;
  font-weight: bold;
  margin-left: 10px;
}
