.container {
  background-color: white;
}

.searchContainer {
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.notFoundContainer {
  padding: 1rem;
  text-align: center;
}


.notFoundHeading {
  margin: 0;

  color: #444;
  font-size: 18px;
}

.notFoundMessage {
  margin: 0.5rem 0;
  color: #767676;
}

.createButton {
  margin-top: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #238AF8;
  cursor: pointer;
}