.header {
  padding-top: 1rem;
  border-bottom: 2px solid #E7EEF9;
}

.title {
  font-size: 14px;
  padding: 0.5rem 1rem;
  color: #238AF8;
  // color: rgba(0,0,0,.5);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}