.button {
  padding: 0.2rem 1rem;
  min-width: 140px;
  border: 1px solid #238AF8;
  border-radius: 5px;
  font-size: 16px;
  color: #238AF8;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #238AF8;
    border-radius: 3px;
    opacity: 0;
  }

  &[disabled] {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    &::before {
      opacity: 1;
    }
  }
}