.container {
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 8px 20px 8px 40px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 5px;
  border-color: white;
  border: none;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid rgba(0,0,0,0.2);

  &::placeholder {
    color: rgba(0,0,0,.3);
  }
}

.icon {
  $size: 20px;
  width: $size;
  height: $size;
  opacity: 0.5;
  transition: opacity ease-in 200ms;
}

.iconContainer {
  position: absolute;
  top: 7px;
  left: 10px;
}

.focus {
  .input::placeholder {
    opacity: 0;
  }
}