.container {
  display: flex;
  background-color: rgba(0,0,0,.03);
  border: 1px solid #EFEFEF;
}

.status {
  padding: 1rem;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  padding-top: 1rem;
}

.statusLabel {
  display: block;
  color: rgba(0,0,0,.6);
}

.selected {
  background-color: white;
}