
.twoColumn {
  display: flex;
  width: 100%;

  > *:first-child {
    margin-right: .5rem;
    flex-grow: 1;
  }

  > *:last-child {
    margin-left: .5rem;
    flex-grow: 1;
  }
}

.row {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.partySizeLabel {
  font-size: 14px;
  color: #888;
}

.quoted {
  padding-top: 0.5rem;
}
.error {
  font-size: 12px;
  color: red;
}