.container {
  display: flex;
  justify-content: center;

  &.hasSuffix {
    .input {
      margin-left: -25px;
      padding-right: 35px;
      margin-right: -30px;
      text-align: right;
    }
  }
}

.input {
  border: 0;
  box-shadow: 0;
  appearance: none;
  font-size: 25px;
  padding: .8rem;
  width: 30px;
  text-align: center;
}

.incrementIcons {
  $size: 24px;
  width: $size;
  height: $size;
}

.label {
  margin-top: -10px;
  display: block;
  font-size: 14px;
  color: rgba(0,0,0,.5);
}

.inputContainer {
  text-align: center;
}

.suffix {
  pointer-events: none;
}

hr {
  border-color: rgba(0,0,0,0.05);
  height: 1px;
  border-top: 0;
}