.container {
  display: flex;
  justify-content: space-around;
}

.input {
  border: 0;
  box-shadow: 0;
  appearance: none;
  font-size: 25px;
  padding: .8rem;
  width: 30px;
  text-align: center;
}

.incrementIcons {
  $size: 24px;
  width: $size;
  height: $size;
}