@import "../../utils.scss";

.heading {
  display: flex;
  color: rgba(0,0,0,.5);
  position: sticky;
  top: 0;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.name {
  width: 150px;
  flex-grow: 1;
}

.partySize {
  flex-shrink: 0;
  width: 40px;
  flex-grow: 0;
}
.tags {
  flex-shrink: 0;
  width: 200px;
  flex-grow: 2;
}

.waiting, .quoted {
  flex-shrink: 0;
  width: 70px;
  text-align: right;
}
