.container {
  position: relative;
  height: 50px;

  &::after {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #3b7afd;
    bottom: -1px;
    content: "";
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    transition: opacity ease-in 200ms;
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform ease-in 150ms;
}

.input {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  box-shadow: none;
  padding: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 5px;
  &::placeholder {
    font-size: 12px;
    transition-delay: 550ms;
    transition: opacity ease-in 150ms;
  }
}

.focused {
  .label {
    transform: translateY(0) !important;
    color: #3b7afd;
  }

  &::after {
    opacity: 1;
  }

  &.empty .input {
    &::placeholder {
      opacity: 1;
    }
  }
}


.empty {
  .label {
    transform: translateY(25px);
  }
  .input {
    &::placeholder {
      opacity: 0;
    }
  }
}

.nonEmpty {
  .label {

  }
}