.container {
  background: linear-gradient(to left, #ff8e97, #8b34cc);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.member, .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navLink {
  padding: 0.4rem 0.8rem;
  display: block;
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  margin-right: 1.5rem;

  &:hover, &.active {
    background-color: rgba(0,0,0,0.1);
    color: #dedee8;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.account {
  display: flex;
  align-items: center;
  color: white;
}

.downArrow {
  display: inline-block;
  $size: 12px;
  width: $size;
  height: $size;
  fill: white;
  margin-left: 5px;
}