.status {
  display: inline-block;
  $size: 32px;
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

.default {
  .value {
    font-size: 16px;
  }

  .unit {
    font-size: 12px;
  }
}

.large {
  .value {
    font-size: 16px;
  }

  .unit {
    font-size: 14px;
  }
}



.value {
  margin-right: 3px;
}

.overdue {
  color: #F77142;
}

