$text-color: #727272;
$text-color-active: #ffffff;

$background-color-active: #103F55;



.selected .addIcon {
  fill: $text-color-active;
}

.addIcon {
  $size: 15px;
  width: $size;
  height: $size;
  fill: $text-color;
  margin-right: 0.3rem;
}

.inlineButton {
  display: flex;
  align-items: center;
}

