* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F0F0F6;
}

.App {
  position: relative;
  padding: 2rem;

  &::before {
    content: "";
    background: #272645; //linear-gradient(to right, rgba(59,122,253,1) 0%,rgba(96,171,248,1) 44%,rgba(65,208,219,1) 100%);
    position: absolute;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
