.container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.headerCta {
  display: flex;
  align-items: center;

  Button {
    margin-right: 1rem;
  }
}

.heading {
  display: flex;
  padding: 0.5rem 2rem;
  color: #238AF8;
  position: sticky;
  top: 0;
}
